<div class="center">
  <h2></h2>
</div>
<table class="table table-striped table-bordered table-hover">
  <tr>
    <th class="center">商品画像</th>
    <th class="center">商品詳細</th>
    <th class="center">価格</th>
    <th class="center">購入者</th>
    <th class="center">販売</th>
  </tr>
  <% @orders.each do |order| %>
  <tr>
    <td class="center"><%= image_tag order.listing.image.url %></td>
    <td class="center"><%= order.listing.name %></td>
    <td class="center"><%= order.listing.price %></td>
    <td class="center"><%= order.buyer.name %></td>
    <td class="center"><%= order.created_at.strftime("%B %-d, %Y") %></td>
    
   </tr>
  <% end %>
</table>


<% if user_signed_in? %>
  <%= link_to '新規商品追加', new_listing_path, class: "btn btn-success" %>
<% end %>



  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
         <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
         <script>
           $('.dropdown-toggle').dropdown()
         </script>
</header>